In [1]:
import pandas as pd
df=pd.read_csv('bike.csv')

In [2]:
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1635,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1
1,132,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,314.0,Cadman Plaza West & Montague St,40.693830,-73.990539,3242.0,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0
2,3337,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,3142.0,1 Ave & E 62 St,40.761227,-73.960940,3384.0,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1
3,436,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,308.0,St James Pl & Oliver St,40.713079,-73.998512,3690.0,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,1984,2
4,8457,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,345.0,W 13 St & 6 Ave,40.736494,-73.997044,380.0,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1994,1

In [3]:
df.shape

(1877884, 15)

In [5]:
df.tripduration.mean()/60

16.125248648656324

In [8]:
df[df['start station id']==df['end station id']].shape

(41364, 15)

In [17]:
df['bikeid'].value_counts()

33875    559
33772    549
34357    549
33868    533
33878    532
        ...
34867      1
15834      1
32379      1
34431      1
29726      1
Name: bikeid, Length: 10892, dtype: int64

In [24]:
df[['bikeid','tripduration']].groupby(['bikeid']).mean().sort_values(['tripduration'])

         tripduration
bikeid
32379       64.000000
25612       72.000000
14761      182.666667
34896      217.200000
22368      224.111111
...               ...
18041   103932.100000
19083   335620.142857
17431   394605.833333
28520   417717.000000
17548   488022.400000

[10892 rows x 1 columns]

In [28]:
df[['bikeid','tripduration']].groupby(['bikeid']).size()

bikeid
14529    206
14530    167
14531    144
14532    115
14534    137
        ...
34899      7
34902      3
34903      5
34904      1
34907     40
Length: 10892, dtype: int64

In [36]:
len(df) - df['start station id'].count()

716

In [38]:
df[['usertype','tripduration']].groupby(['usertype']).mean()/60

            tripduration
usertype
Customer       33.415379
Subscriber     13.332348

In [42]:
df[df['start station id']!=df['end station id']]['tripduration'].mean()/60

15.79841302209251

In [44]:
df[df['start station id']>]

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
1877879,369,2018-09-30 00:27:25.9840,2018-09-30 00:33:35.7070,3601.0,Sterling St & Bedford Ave,40.662706,-73.956912,3631.0,Crown St & Bedford Ave,40.666563,-73.956741,32976,Subscriber,1985,2
1877880,191,2018-09-30 00:30:30.1850,2018-09-30 00:33:42.1090,3601.0,Sterling St & Bedford Ave,40.662706,-73.956912,3631.0,Crown St & Bedford Ave,40.666563,-73.956741,15595,Subscriber,1985,2
1877881,1442,2018-09-30 08:10:03.1790,2018-09-30 08:34:05.3870,3601.0,Sterling St & Bedford Ave,40.662706,-73.956912,471.0,Grand St & Havemeyer St,40.712868,-73.956981,28646,Subscriber,1981,1
1877882,453,2018-09-30 12:20:13.6830,2018-09-30 12:27:46.9140,3601.0,Sterling St & Bedford Ave,40.662706,-73.956912,3584.0,Eastern Pkwy & Franklin Ave,40.670777,-73.957680,34272,Subscriber,1986,1
1877883,1354,2018-09-30 14:10:01.1620,2018-09-30 14:32:36.1280,3601.0,Sterling St & Bedford Ave,40.662706,-73.956912,3321.0,Clinton St & Union St,40.683116,-73.997853,26028,Subscriber,1981,1

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1877884 entries, 0 to 1877883
Data columns (total 15 columns):
 #   Column                   Dtype
---  ------                   -----
 0   tripduration             int64
 1   starttime                object
 2   stoptime                 object
 3   start station id         float64
 4   start station name       object
 5   start station latitude   float64
 6   start station longitude  float64
 7   end station id           float64
 8   end station name         object
 9   end station latitude     float64
 10  end station longitude    float64
 11  bikeid                   int64
 12  usertype                 object
 13  birth year               int64
 14  gender                   int64
dtypes: float64(6), int64(4), object(5)
memory usage: 214.9+ MB